.chartSection {
    padding: 95px 0;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 800px) {
         padding: 60px 0;
    }
}

.chart {
    margin-top: 40px;
    &__info {
        padding-top: 40px;
        text-align: right;
        @include m1000 {
            width: 70% !important;
            margin: 0 auto;
        }
        @media (max-width: 700px) {
            width: 100% !important;
            padding: 0;
        }
        &__list {
            list-style-type: none;
            text-align: left;
            li {
                text-align: left;
                padding: 30px 0 24px 0;
                border-bottom: 1px solid rgba(0,0,0,.1);
                @media (max-width: 500px) {
                    padding: 26px 0 20px 0;
                }
                &:last-of-type {
                    border: none;
                }

                i {
                    width: 62px;
                    height: 50px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                p {
                    display: inline-block;
                    vertical-align: top;
                    max-width: calc(100% - 70px);
                    padding-left: 22px;
                    color: #FFF;
                    font-size: 18px;
                    line-height: 30px;
                    font-family: $gl;
                    span {
                        color: $green;
                        font-family: $gb;
                    }
                    @media (max-width: 500px) {
                        font-size: 16px;
                        line-height: 24px;
                        padding-left: 10px;
                    }
                }
            }
        }
        &__click {
            margin-right: -60px;
            color: #FFF;
            margin-top: 34px;
            width: 210px;
            font: 16px/24px $gl;
            display: inline-block;
            @media (max-width: 700px) {
                margin-right: 0;
            }
        }
    }// chart info
    
    &__chart {
        padding-left: 50px;
        position: relative; 
        @include m1000 {
            width: 475px !important;
            margin: 30px auto 0;
            padding-left: 0;
        }
        @media (max-width: 500px) {
            width: 100% !important;
        }
        &__text {
            position: absolute;
            width: 265px;
            top: 166px;
            left: 132px;
            color: #FFF;
            font: 18px/24px $gl;
            span {
                text-transform: uppercase;
                font: 22px/30px $gb;
            }
            @include m1000 {
                left: 103px;
            }
            @media (max-width: 500px) {
                left: 0;
                right: 0;
                top: 160px;
                margin: auto;
                font-size: 16px;
                span {
                    font-size: 20px;
                }
            }
            @media (max-width: 450px) {
                top: 140px;
            }
            @media (max-width: 400px) {
                width: 230px;
                top: 140px;
                font-size: 14px;
                line-height: normal;
                span {
                    font-size: 16px;
                    line-height: normal;
                }
            }
            @media (max-width: 350px) {
                top: 120px;
            }
        }

        #doughnutChart {
            @media (max-width: 500px) {
                width: 100% !important;
                height: auto !important;
            }
        }

        &__explain {
            margin-left: 110px;
            list-style-type: none;
            margin-top: 28px;
            li {
                display: block;
                color: #FFF;
                font: 16px $gm;
                text-align: left;
                margin-bottom: 20px;
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 18px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-color: #FFF;
                    margin-top: -2px;
                }
                &.greenLabel {
                    &:before {
                        background-color: $green;
                    }
                }
                &.orangeLabel {
                    &:before {
                        background-color: $orange;
                    }
                }
                &.yellowLabel {
                    &:before {
                        background-color: $yellow;
                    }
                }
            }
        }
    }// chart chart

}// chart block