.offer {
    height: 100%;
    min-height: 600px;
    max-height: 1100px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    @include flex($direction: column, $justify: center);
    
    &__info {
        margin-top: 50px;
        padding: 50px 35px;
        text-align: center;
        color: #FFF;
        background-color: rgba(0,0,0,.5);
        p {
            font-size: 24px;
            line-height: 36px;
            span {
                text-transform: uppercase;
                font-size: 30px;
                font-family: $gb;
                display: block;
            }
        }
        small {
            display: block;
            text-align: center;
            font: 17px $gl;
            margin-top: 10px;
        }
        .button {
            margin-top: 30px;
            padding:  0 20px;
        }
    }
}

.scroll-down {
    position: absolute;
    left: 0; right: 0;
    bottom: 9%;
    margin: auto;
    width: 36px;
    height: 82px;
    z-index: 10;
    background-image: url("../images/scroll.png");
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
}