.projects {
    background-image: url(../images/projects_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;

    h2 {
        text-align: left;
        position: relative;
        z-index: 2;
    }

    &-map {
        width: 100%;
        height: auto;
        -webkit-transform: translateY(-120px);
        -ms-transform: translateY(-120px);
        -o-transform: translateY(-120px);
        transform: translateY(-120px);
        margin-bottom: -120px;
        position: relative;
        z-index: 1;

        img {
            display: block;
            width: 110%;
            margin-left: -5%;
        }
    }
}