.button {
    display: inline-block;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $gm;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    background-color: $orange;
    padding: 0 45px;
    line-height: 50px;
    border: 0;
    cursor: pointer;
    position: relative;

    &:disabled {
        opacity: .5;
    }

    &:hover {
        background-color: #FFB350;
    }

    &--small {
        height: 30px;
        line-height: 30px;
        font-size: 11px;
        padding: 0 15px;
    }

    &--full {
        width: 100%;
        padding: 0;
    }
    @media (max-width: 500px) {
        font-size: 16px;
        padding: 0 20px;
    }
    @media (max-width: 400px) {
        font-size: 14px;
    }
}



input {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
    color: #191919;
    text-align: center;
    padding: 0 15px;

    &:focus {
        background-color: #fff;
    }
}

textarea {
    width: 100%;
    height: 120px;
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
    color: #191919;
    text-align: center;
    padding: 10px 15px;
    resize: vertical;

    &:focus {
        background-color: #fff;
        text-align: left;
    }
}