
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    font-family: $g;
}
h1 {
    font: 60px/72px $gb;
    color: #FFF;
    @include m1000 {
        font-size: 48px;
        line-height: 56px;
    }
    @media (max-width: 700px) {
        font-size: 38px;
        line-height: 46px;
    }
}
h2 {
    font-family: $gb;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    @include m1000 {
        font-size: 28px;
        line-height: 36px;
    }
    @media (max-width: 700px) {
        font-size: 24px;
        line-height: 28px;
    }
    @media (max-width: 500px) {
        font-size: 22px;
        line-height: 26px;
    }
    @media (max-width: 400px) {
        font-size: 20px;
        line-height: 26px;
    }
}
b,
strong {
    font-family: $gb;
    font-weight: normal;
}
.white {
    color: #FFF;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
    @media (max-width: 1000px) {
        width: 100%;
        padding: 0 15px;
    }
}
.section {
    padding-top: 90px;
}

.flexTwoSides {
    @include flex();
    > div {
        width: 50%;
    }
    @include m1000 {
        display: block;
         > div {
            width: 100%;
        }
    }
}