
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    font-family: $g;
}
h1 {
    font: 60px/72px $gb;
    color: #FFF;
}
h2 {
    font-family: $gb;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
}
b,
strong {
    font-family: $gb;
    font-weight: normal;
}
.white {
    color: #FFF;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.section {
    padding-top: 90px;
}

.flexTwoSides {
    @include flex();
    > div {
        width: 50%;
    }
}