// COLORS
// ---------------------------
$orange:                #ff9711;
$lime:                  #8cc63e;
$green:                 #118944;
$greenL:                 #8cc63e;
$yellow:                #d6df23;

// FONTS
// ---------------------------
$g:                     'Gotham Pro';
$gl:                    'Gotham Pro Light';
$gb:                    'Gotham Pro Bold';
$gm:                    'Gotham Pro Medium';


// RESPONSIVE
// ---------------------------
